h1 {
  color: #ece2ff;
  font-size: 50px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ece2ff;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

small {
  max-width: 600px;
  margin: 30px auto;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}
.app-wrapper {
  max-width: 550px;
  margin: 30px auto;
}
.app-weather {
  padding: 23px;
  border: 1px solid #dadde1;
  border-radius: 40px;
  background: #8097b5;
}

.first-view {
  margin-bottom: 35px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  position: relative;
  top: -25px;
  left: 40px;
}

.weather-temperature strong {
  color: #ece2ff;
  font-size: 70px;
  font-weight: 400;
  line-height: 64px;
  position: relative;
  left: 40px;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -37px;
  left: 35px;
}

.weather-temperature .active {
  color: #ece2ff;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.coded-by {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

#weather-details {
  position: relative;
  left: 65px;
}

.weather-forecast {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #ece2ff;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  color: #ece2ff;
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #ece2ff;
}
.bg-light {
  border-radius: 15px;
}

.lastUpdate {
  font-size: 10px;
  margin-top: 5px;
}

hr {
  position: relative;
  left: 50px;
  margin-top: 5px;
  margin-bottom: 30px;

  color: #b4cee0;
}

.outside-image {
  margin-top: 25px;
  position: absolute;
  left: 100px;
}
